@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --cor-fundo:#CDA0C3;
  --cor-destaque:#52112C;
  --cor-texto:#FEFEFE;
}

*{
  margin: 0;
  padding:0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.apresentacao{
  display: flex;
}

.apresentacao__conteudo__titulo{
  font-family: 'Krona One', sans-serif;
}

strong{
  color: var(--cor-destaque);
}

a{
  background-color: var(--cor-destaque);
  color: var(--cor-texto);
  padding: 15px 40px;
  margin: 10px 5px;
  border-radius: 5px; 
}

.foto{
  height: 490px;
}