:root{
  --cor-fundo:#CDA0C3;
  --cor-destaque:#52112C;
  --cor-texto:#FEFEFE;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

strong{
  color: var(--cor-destaque);
}

a{
  background-color: var(--cor-destaque);
  color: var(--cor-texto);
  padding: 15px 40px;
  margin: 10px 5px;
  border-radius: 5px; 
}